---
import TimelineItem from './TimelineItem.astro'
import BriefcaseIcon from './icons/Briefcase.astro'

const EXPERIENCE = [
  {
    company: 'ezzing',
    date: 'Actualmente...',
    description: 'Desarrollo de aplicaciones para la venta, gestión y monitorización de proyectos fotovoltaicos.',
    title: 'Front-End Developer'
  },
  {
    company: 'Vertiv',
    date: 'Enero 2023',
    description: 'Desarrollo de aplicación para monitorización de infraestructura crítica en tiempo real.',
    title: 'Senior Software Engineer'
  },
  {
    company: 'Sopra Steria',
    date: 'Mayo 2018',
    description: 'Desarrollo de aplicaciones web para clientes de España y Francia.',
    title: 'Junior Programmer'
  }
]
---

<h2 class="text-xl lg:text-3xl font-semibold mb-6 flex gap-x-3 items-center">
  <BriefcaseIcon class="size-8"></BriefcaseIcon>
  Experiencia Laboral
</h2>
<ul class="timeline timeline-snap-icon timeline-compact timeline-vertical">
  {EXPERIENCE.map(({ company, date, description, title }) => (
      <TimelineItem time={date} title={`${title} — ${company}`} side="end">
        <span class="text-sm md:text-base text-pretty">{description}</span>
      </TimelineItem>
  ))}
</ul>
