<footer
    class="bg-gray-300/60 dark:bg-gray-900/50 border-[1px] border-gray-300/80 dark:border-gray-800/80 rounded-md shadow m-4 py-2 mx-auto w-full xl:w-[1120px] mt-10"
>
  <div class="w-full mx-auto max-w-screen-xl p-4 flex items-center justify-between">
      <span class="text-sm text-gray-700 sm:text-center dark:text-gray-400">© 2024 mpriereira
    </span>
    <ul class="flex flex-wrap items-center text-sm text-gray-700 dark:text-gray-400">
      <li>
        <a href="/#about" class="hover:underline me-4 md:me-6">About</a>
      </li>
      <li>
        <a href="/#contact" class="hover:underline">Contact</a>
      </li>
    </ul>
  </div>
</footer>

